body {
    margin: 25px;
    font-family: 'Montserrat', sans-serif;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    justify-content: center;
    height: 100vh;
  }
  
h1 {
  text-align: center
}  

.sidebar {
    grid-area: sidebar;
    text-align: center
}
  
  .content {
    grid-area: content;
    position: relative;
    text-align: left
  }
  
  .header {
    grid-area: header;
    text-align: center
  }
  
  .footer {
    grid-area: footer;
    text-align: center
  }
  
  .wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 200px 250px 250px;
    grid-template-areas:
        "header  header  header"
        "sidebar content content"
        "footer  footer  footer";
    color: #444;
      }
  
  
  .box {
    background-color: #333333;
    color: #fff;
    border-radius: 5px;
    padding: 30px;
    font-size: 100%;
  }
  
  .header,
  .footer {
    background-color: #21939C;
    color: #fff;
    text-align: center
  }

  .button {
    color: lightgray;
    background-color: teal;
    border: lightgray solid 2px;
    border-radius: 3px;
    padding: 5px;
    margin: 8px;
  }
  
  ion-icon {
    font-size: 64px;
    margin: 15px;
  }

  .intro {
    padding-top: 10%;
    position: absolute
  }

  li {
    list-style-type: none;
  }

  form {
    text-align: center;
  }

  .checkbox {
    margin: 0 2px 0 10px;
  }